<?xml version="1.0"?>

<model>
  <name>VL53L1X</name>
  <version>1.0</version>
  <sdf>vl53l1x_2.sdf</sdf>

  <author>
    <name>Marcell Rausch</name>
    <email>nope@nope.com</email>
  </author>

  <description>
    VL53L1X LIDAR sensor
  </description>
</model>

<!-- vim: set noet fenc= ff=unix sts=0 sw=2 ts=2 : -->
