<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="vehicle" default="iris_vl53l1x"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/slam_building.world"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    
    <!-- Load arguments to launch file -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
    </include>

    <!-- Todo: Load urdf used for cartographer and start state publishers -->
    <param name="robot_description" textfile="$(find mavlink_sitl_gazebo)/models/rotors_description/urdf/iris_vl53l1x_lidars.urdf" />
    <!-- Published states from robot descriptor -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="30.0" />
    </node>
    <!-- Publishes joint states based on the robot descriptor -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>